@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Lato);
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.myclear {
	clear: both;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 100%;
	background-image: url("../images/body_bg.jpg");
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
}
#container {
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	background-color: rgba(72, 71, 71, 0.75);
	box-shadow: 0px 0px 20px 10px rgba(111, 111, 111, 0.7);
}
header {
	background-image: url("../../poll-ftp/images/header_bg.jpg");
	background-size: 100% 100%;
	text-align: center;
}
header h1 {
	padding: 2%;
	color: #ffd000;
	font-size: 30px;
	line-height: 1;
}
main {
	padding-bottom: 15px;
}
#vote {
	max-width: 1180px;
	border: 1px solid rgba(72, 71, 71, 0.75);
	border-radius: 10px;
	margin: 10px;
	padding: 2%;
	background-color: rgba(159, 159, 159, 0.7);
}
#results {
	max-width: 1180px;
	border: 1px solid rgba(72, 71, 71, 0.75);
	border-radius: 10px;
	margin: 10px;
	position: relative;
	background-color: rgba(159, 159, 159, 0.7);
}
/*Opt styles***************************************/


.myopt { /*things mutual to all options*/
	width: 20%;
	height: 0px;/*this is the base height, it grows from here*/
	background-size: 100%;
	background-position: center;
	background-repeat: repeat-y;
	position: absolute;
	bottom: 10px;
	overflow: hidden;
}
#optA {
	left: 10%;
	background-image: url("../images/optA_middle.jpg");
}
#optB {
	left: 40%;
	background-image: url("../images/optB_middle.jpg");
}
#optC {
	right: 10%;
	background-image: url("../images/optC_middle.jpg");
}
.myopttop {/*a class for all 3 "heads"*/
	width: 100%;
	position: absolute;
	top: 0px;/*stick to the top of parant!*/
	left: 0px;
}
.myoptbottom {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	padding: 4px;
	color: rgb(217, 223, 245);
	font-size: 11px;
	background-color: rgba(122, 121, 121, 0.5);
}

#totalVotes {

	background-color: rgba(72, 71, 71, 0.75);
	width: 30%;
	height: 45px;
	line-height: 35px;
	color: #E1DFDF;
	font-size: 20px;
	position: absolute;
	bottom: -115px;
	left: 530px;
	padding: 4px;
	text-align: center;
	justify-content: center;
	border-radius: 10px;
}